{% extends 'base.html' %}
{% load static %}
{% block title %} Forget password {% endblock %}

{% block content %}
<section class="banner-section">
    <div class="container">
       <div class="row">
          <div class="col text-center">
             <h3>Forget Password</h3>
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                   <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
                </ol>
             </nav>
          </div>
       </div>
    </div>
 </section>

{% include 'includes/alerts.html' %}
<section class="login-section">
    <div class="container h-100">
      <div class="row h-100 justify-content-center">
        <div class="col-lg-6">
          <div class="form-wrapper d-flex align-items-center h-100">
            <form action="{% url 'account:forget_password' %}" method="POST">
              {% csrf_token %}
              <div class="row g-4" style="margin-bottom: 10px;">
                <div class="input-box col-12">
                  <input type="text" name="identifier" class="form-control" placeholder="Email or Username">
                </div>
              </div>
              <button type="submit" class="btn-custom w-100">Send reset email</button>
              <div class="bottom"> Don't have an account? <a href="{% url 'account:register' %}">Create account</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

 
{% endblock %}