{% if form.email.errors %}

	{% for message in form.email.errors %}
	<div id="message" class="container">
		<div class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
		{{ message }}

		</div>
	</div>
	{% endfor %}

{% endif %}




{% if form.non_field_errors %}

	{% for message in form.non_field_errors %}
	<div id="message" class="container">
		<div class="alert alert-danger text-center" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
		{{ message }}

		</div>
	</div>
	{% endfor %}

{% endif %}


{% if messages %}

	{% for message in messages %}

	<div id="message" class="container" style="padding-top: 10px;">
		<div class="alert alert-success" role="alert">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
		{{ message }}

		</div>
	</div>
	{% endfor %}

{% endif %}


<script>
    // Set the timeout in milliseconds (e.g., 5000ms = 5 seconds)
    setTimeout(function() {
        var messages = document.querySelectorAll('#message .alert');
        messages.forEach(function(message) {
            message.style.transition = "opacity 0.5s ease";  // Optional: Adds fade out effect
            message.style.opacity = "0";  // Fade out

            // Remove the message from the DOM after the fade out
            setTimeout(function() {
                message.remove();
            }, 500);  // Wait for fade out to complete
        });
    }, 5000);  // The delay before the alert disappears (5000ms = 5 seconds)
</script>