{% load static %} 
<footer class="footer-section" id="subscribe">
    <div class="container">
      <div class="row gy-5 gy-lg-0">
        <div class="col-lg-3 col-md-6">
          <div class="footer-box">
            <a class="navbar-brand" href="https://no31VC7Jjjy1.net">
              <img src="{% static 'assets/uploads/logo/admin-logo.png' %}" alt="footer img">
            </a>
            <p class="company-bio"> We are a award winning mulitnational company. We believe quality and standard worldwide consider. </p>
            <div class="social-links">
              <a href="{{ company_profile.facebook }}" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="{{ company_profile.twitter }}" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="{{ company_profile.linkedin }}" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="{{ company_profile.instagram }}" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box">
            <h4>Quick Links</h4>
            <ul>
              <li>
                <a href="{% url 'home:home' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'home:about' %}">About us</a>
              </li>
              <li>
                <a href="{% url 'home:plan' %}">Plan</a>
              </li>
              <li>
                <a href="{% url 'home:blog' %}">Blogs</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box">
            <h4>Our Services</h4>
            <ul>
              <li>
                <a href="{% url 'home:contact' %}">Contact</a>
              </li>
              <li>
                <a href="{% url 'home:faq' %}">FAQ</a>
              </li>
              <li>
                <a href="https://no31VC7Jjjy1.net/terms-amp-conditions/33">Terms &amp; Conditions</a>
              </li>
              <li>
                <a href="https://no31VC7Jjjy1.net/privacy-policy/34">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-box">
            <h4>Newsletter</h4>
            <p>Get our offers &amp; news in your inbox</p>
            <div class="news-letter">
              <form action="https://no31VC7Jjjy1.net/subscribe" method="post">
                <input type="hidden" name="_token" value="b8DYK1jwpzwm43U66ywxRoIYzKAVFh1szEwuLKzV">
                <div>
                  <input type="email" name="email" value="" placeholder="Email Address" class="form-control">
                  <button type="submit" class="btn-custom">
                    <i class="fad fa-paper-plane"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="row">
          <div class="col-md-6">
            <p class="copyright"> Copyright © 2024 <a href="https://no31VC7Jjjy1.net">NOoB</a> All Rights Reserved. </p>
          </div>
         
        </div>
      </div>
    </div>
  </footer>